export GRPC_SERVER_ADDR = "localhost:8080" // адрес сервера-обработчика
export DEST_IP     = "142.18.96.8" // адрес сервера, который принял пакеты
export CNT_PACKETS = 10            // сколько пакетов отправляем